html{
    scroll-behavior: smooth;
}

.header-logo, .header-logo img {
    width: 90px;
}

.menu{
    margin: 0;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 2px 2px #ccc;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 1px #9d9090 solid;
}

.menu li{
    display: inline-block;
    padding: 10px 0px;
    margin-right: 20px;
    font-size: 20px;
    font-family: sans-serif;
}

.menu li a{
    text-decoration: none;
    color: #381C76;
}

.content {
    margin-left: 20px;
    margin-top: 120px;
}

.titulo {
    color: #381C76;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}

.subtitulo, .titulo {
    margin-left: 40px;
}

.btn {
    margin: 10px 40px;
    color: white;
    background-color: green;
    border: 1px solid #035403;
    border-radius: 6px;
    padding: 5px 15px;
    cursor: pointer;
    box-shadow: 1px 2px 4px #ccc;
    transition: background-color 0.4s;
}

.btn:hover {
    background-color: #063506;
}

.btn-download {
    font-size: 22px;
}

.btn-form {
    font-size: 14px;
    transform: translate(8px, -4px);
}

.staging-content {
    width: 100%;
    height: 340px;
    background-color: #ccc;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.staging-content div {
    width: 50%;
    display: inline-block;
}

.div-content-staging {
    height: 100%;
}

.div-img {
    float: right;
    text-align: center;
}

.img-staging {
    height: 350px;
}

.div-content {
    margin-left: 40px;
}

.cards {
    text-align: center;
    margin: auto;
}

.card {
    border: 1px solid #999;
    padding: 13px;
    border-radius: 10px;
    margin: 20px;
    display: inline-table;
    position: relative;
    box-shadow: 5px 5px 7px #ccc;
}

.img-card, .img-card img {
    width: 100%;
    height: 220px;
}

.description {
    width: 50%;
    margin: 40px;
    text-align: right;
}

.conteudo-final {
    width: 100%;
    padding: 15px;
    border-top: 2px solid #ccc;
    text-align: center;
}

.planos {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.planos img {
    height: 250px;
}

.plano {
    margin: 20px;
    display: inline-table;
    position: relative;
}

.footer-logo, .footer-logo img {
    width: 20px;
}

.menu-footer {
    margin: 0;
    padding-left: 10px;
    background-color: white;
}

.menu-footer li{
    display: inline-block;
    padding-top: 10px;
    margin-right: 4em;
}

.text-footer {
    color: #381C76;
    font-family: sans-serif;
    font-size: 1.2em;
    margin: 0px 0px;
}