@media (width <= 736px) {
    .img-staging{
        display: none;
    }

    .subtitulo{
        display: none;
    }

    .staging-content {
        height: 240px;
    }

    .staging-content div {
        width: 100%;
    }
}

@media (width <= 620px) {
    .header-logo img {
        display: none;
    }

    .menu li {
        display: block;
    }

    .content {
        margin-top: 220px;
    }
}

@media (width <= 682px) {
    .planos img {
        height: 200px;
    }
}

@media (width <= 580px) {
    .planos img {
        height: 150px;
    }
}

@media (width <= 480px) {
    .planos img {
        height: 100px;
    }
}

@media (width <= 380px) {
    .planos img {
        height: 80px;
    }
}